[core]

[user]
	name = rodmk
	email = me@rodmk.com

[color]
    diff = auto
    status = auto
    branch = auto

[alias]
    br = branch
    co = checkout
    ci = commit
    cia = commit --amend
    di = diff
    st = status
    showbr = log -U git-svn..

[svn]
    followparent = true

[log]
   date = relative

# Use only for black background terminal
[color "branch"]
   current = yellow reverse
   local = yellow
   remote = green

[color "diff"]
   plain = white
   meta = yellow bold
   frag = magenta bold
   old = red bold
   new = green bold
   whitespace = red blink

[color "status"]
  added = yellow
  changed = green
  untracked = cyan
[push]
	default = simple
